.personal_forms .step_item_forms_row{
    display: flex;
    width: 100%;
}
.personal_forms .step_item_forms_row:nth-child(4) .select_label{
    padding: 5px;
    width: 50%;
}
.personal_forms .step_item_forms_row:nth-child(4) .select_label label{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.personal_forms .step_item_forms_row:nth-child(4) .select_label select{
    display: block;
    width: 100%;
    height: 34px;
}
.personal_forms .step_item_forms_row .input_label{
    padding: 5px;
}
.personal_forms .step_item_forms_row:nth-child(1) .input_label{
    width: 50%;
}
.personal_forms .step_item_forms_row:nth-child(3) .input_label{
    width: 50%;
}
.personal_forms .step_item_forms_row:nth-child(4) .input_label, .personal_forms .step_item_forms_row:nth-child(4) .select_label{
    width: 50%;
}
.personal_forms .step_item_forms_row:nth-child(2) .input_label:nth-child(1){
    width: 70%;
}