.step{
    width: 100%;

    &_inform{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 50px 100px;
    }
    &_inform_header h4{
        font-size: 22px;
    }
    &_inform_text p{
        font-size: 16px;
        color: $text-grey;
    }
    &_content{
        width: 100%;
    }
}